@import './layout.css';
@import './typography.css';
@import './theme.css';

html, body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

