@import "./toc.css";

.summary {
    border-left: 4px solid rgba(0, 0, 0, 0.2);
    padding-left: 12px;
}

#metadata {
    padding-left: 3px;
    font-size: 12px;
}


/***
            _     _
           (_)   | |
  ____  ___ _  _ | | ____  ___
 / _  |/___) |/ || |/ _  )/___)
( ( | |___ | ( (_| ( (/ /|___ |
 \_||_(___/|_|\____|\____|___/
asides ***/
main article aside {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* font-size: .8em; */
    padding-top: 1.6em;

}

@media (min-width: 1200px) {
    main article aside {
        /*Display asides within the article to the left of the rest of nearby content*/
        float: right;
        width: 33%;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid black;
        padding-left: 2.75em;
        margin-left: 2.75em;
    }
}

main section, aside {
    display: flow-root; /*let each section be a unique flow root*/
    margin: 2.75rem 0 0;

    &.wip {
        margin: 0 0 2.75rem;
        backdrop-filter: brightness(1.5);
        text-align: center;
    }
}

/***
            _
           | |
  ____ ___ | | ___   ____ ___
 / ___) _ \| |/ _ \ / ___)___)
( (__| |_| | | |_| | |  |___ |
 \____)___/|_|\___/|_|  (___/
colors ***/
body {
    background-color: var(--bg-color);
}

a {
    color: var(--color-link);
    text-decoration: none;
}


