/**
A file to put things that change with the theme
colors, etc.
 */

:root {
    --bg-color: unset;
    --color: #333;
    --color-link: unset;
    --shadow-color: rgba(0,0,0,.2)
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #212124;
        --color: #b1b0b0;
        --color-link: #889be0;
        --shadow-color: rgba(255,255,255,.2)
    }
}



body {
    background-color: var(--bg-color);
}

main {
    background-color: var(--bg-color);
    color: var(--color);
}

a {
    color: var(--color-link);
}

/** When in dark mode, make the image "darker" too */
@media (prefers-color-scheme: dark) {
    #site-header img {
        opacity: .4;
    }
}

