.toc {

    & ol {
        list-style: inside decimal;

        & li > ol {
            list-style: inside lower-alpha;
        }


        & li.section {
            list-style: none;

            & > h1 {
                font-size: 1.25em;
                margin: .64rem 0 0;
            }
        }

    }

    @nest &.fixed {
        /*the table of contents available while scrolling down the page*/
        position: fixed;
        bottom: 0;
        left: 0;
        height: fit-content;
        max-height: 90vh;
        width: 100vw;
        background-color: #fbfbfb;
        margin: 0;
        padding-top: 2em;
        padding-bottom: 75px;
        /*70px to get above the #fab*/
        box-shadow: 0 0 1em 3px rgba(0, 0, 0, 0.2);
        transition: bottom .25s ease-in-out;
        font-size: 14px;
        line-height: 2;
        overflow: scroll;

        @nest &:not(.toggled) {
            /*start below the page*/
            bottom: -500vh;
        }
    }
}

@media (min-width: 780px) {
    .toc.fixed {
        /*Make the Table of Content fixed in the left rail on desktop*/
        font-size: 11px;
        padding-inline-start: 1%;
        top: 0;
        left: 2rem;
        bottom: unset;
        width: 16%;
        margin-top: 5rem;
        opacity: .3;
        box-shadow: unset;
        background-color: unset;
        transition: opacity .15s ease;
        transition: left .25s ease-in-out;

        &:hover {
            opacity: 1;
        }

        &:not(.available), &.toggled {
            left: -100vw;
        }
    }
}

#fab {
    /*The floating action button*/
    position: fixed;
    left: 15px;
    bottom: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    z-index: 9999;
    background-color: #fbfbfb;

    @nest &:not(.available) {
        display: none;
    }

    @nest &:focus {
        /*get rid of the highlighting when clicked*/
        border: 0;
        outline: 0;
    }

}

@media (min-width: 780px) {
    #fab {
        left: 45px;
        box-shadow: unset;
        background-color: unset;
        transform: rotate(270deg);
    }
}
