---
draft: true
title: Setting Up a New Windows Computer
---

<h1>Setting Up a New Windows Computer</h1>

<p>
	Some notes about what I do to setup a new Windows laptop
</p>


<h2>Windows Update</h2>

<p>
	First things first.. check for updates. Come back tomorrow after all the updates have finished.
</p>


<h2>Software</h2>

Now, on to installing some software. Here's the basic set of software I installed on my most recent new laptop.

<ul>
	<li>Linux Subsystem
		<ul>
			<li>Enable WSL in Windows Features</li>
			<li>Install Ubuntu or other linux from the Windows Store</li>
		</ul>
	</li>
	<li>Chocolatey (or Scoop I suppose)</li>
	<li>A good broswer (Brave Browser, perhaps)</li>
	<li>Windows Terminal from the Store</li>
	<li>Neovim for command line editing</li>
	<li>VS Code for normal editing</li>
	<li>Git</li>
	<li>Node.js (actually nvm)</li>
	<li>Todoist</li>
	<li>Slack</li>
</ul>

<h2>Personalization</h2>

Let's make this thing feel more comfortable

<ul>
	<li>Fonts
		<ul>
			<li>Cascadia Code</li>
			<li>Nerd Fonts (IBM Plex Mono NF)</li>
			<li>Fira Code</li>
		</ul>
	</li>
	<li>Wallpaper
		<ul>
			<li>Currently using a bunch of Jupiter images (from Juno) that change every 30 min</li>
		</ul>
	</li>
	<li>Turn on Dark Mode</li>
</ul>