---
title: "Web Components: Scripture"
---

<h1>Scripture Web Components</h1>

<p>
    This page is about the <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">Web Components</a> I created for displaying scripture passages.
</p>

<p>
View on:
<ul>
<li><a href="https://github.com/JordanShurmer/web-components">Github</a></li>
<li><a href="https://www.npmjs.com/package/web-components-scripture">NPM</a></li>
</ul>
</p>

<h2>Scripture Passage</h2>

<p>
<code>&#x3C;scripture-passage&#x3E;</code> puts a passage of scripture on the page. You provide a <code>reference</code> and an <code>api</code>.
</p>


<h3>Simple use case</h3>

<scripture-passage api="crosswayApi" reference="Acts 17:24-25">
</scripture-passage>

<code-block lang="html" readOnly maxLines="30">
    <scripture-passage
        api="crosswayApi"
        reference="Acts 17:24-25">
    </scripture-passage>
</code-block>

<h3>Open by default</h3>

<scripture-passage open api="crosswayApi" reference="2 Corinthians 10:17-18">
</scripture-passage>

<code-block lang="html" readOnly maxLines="30">
    <scripture-passage
        open
        api="crosswayApi"
        reference="2 Corinthians 10:17-18">
    </scripture-passage>
</code-block>


<h3>Multiple Passages</h3>

<scripture-passage api="crosswayApi" reference="Genesis 45:5-8, Genesis 50:20">
</scripture-passage>

<code-block lang="html" readOnly maxLines="30">
    <scripture-passage
        api="crosswayApi"
        reference="Genesis 45:5-8, Genesis 50:20">
    </scripture-passage>
</code-block>

<h2>Scripture List</h2>

<p>
    <code>&lt;scripture-list&gt;</code> allows you to add multiple scripture passages to the page, and
    expand or collapse all of them together
</p>

<p>
    <strong>note:</strong> you must use single quotes around the reference-list attribute value, so that you can use proper JSON double quotes in the value
</p>

<scripture-list api="crosswayApi" reference-list='["2 Timothy 1:9", "James 1:18"]'>
</scripture-list>

<code-block lang="html" readOnly maxLines="30">
    <scripture-list
        api="crosswayApi"
        reference-list='["2 Timothy 1:9", "James 1:18"]'>
    </scripture-list>
</code-block>

<h2>Get It</h2>

Check out the Github page for more info.

<ul>
<li><a href="https://github.com/JordanShurmer/web-components">Github</a></li>
<li><a href="https://www.npmjs.com/package/web-components-scripture">NPM</a></li>
</ul>


<!-- Load the crossway API (or provide your own, see below) -->
<script src="https://cdn.jsdelivr.net/npm/web-components-scripture@1/crossway.js"></script>
<script>
    //create the 'crosswayApi' object being referenced
    const crosswayApi = new Crossway('a0e122c0b20aee5601d9a6ea50e16194f5131eda');
</script>
<!-- Load the web components -->
<script src="https://cdn.jsdelivr.net/npm/web-components-scripture@1/scripture.js"></script>