---
title: This Website
---

<h1>This Website</h1>

<p>
    A look into the software powering this website
</p>

<p>
    <a href="https://github.com/JordanShurmer/jordan-shurmer-family">View on Github</a>
</p>

<h2>Overview</h2>

<p>
    This website is build as a static website, using some awesome technology:
</p>

<ul>
    <li>Markdown</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li><s>Zola</s> Eleventy</li>
    <li>Netlify</li>
</ul>

<h2>The header</h2>

<p>
    The "header" of this site is worth exploring a bit..
</p>

<p>
    The Markup for the header (also, just view-source to see the same thing)
</p>


<code-block lang="html" readOnly maxLines="30">
    <pre><code>
&lt;section id=&quot;header&quot;&gt;

    &lt;!-- A div for the &quot;hero&quot; section.. the large visual at the top --&gt;
    &lt;div id=&quot;hero&quot;&gt;
        &lt;a href=&quot;/&quot;&gt;
            &lt;img src=&quot;...&quot;/&gt;
            &lt;h1&gt;JS&lt;/h1&gt;
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;!-- A nav for the site navigation --&gt;
    &lt;nav&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;/theology&quot;&gt;Theology&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;/dev&quot;&gt;Software&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;/me&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;
&lt;/section&gt;
    </code></pre>
</code-block>

<p>
    And the styles, with explanatory comments:
</p>

<code-block lang="css" readOnly maxLines="30">
    <pre><code>
/*
The styles for the site "header"

The header currently contains a "hero" image, with
centered text "JS" and a few links for site navigation
 */
#site-header {
    width: 100vw; /*Full width (100 view-width units)*/
    max-width: 1020px; /*but not too big*/
    margin: 0 auto 2em; /*left-right centered, space at the bottom*/
    height: 66vh; /*more than half the view-height*/

    /*
    The Layout of the header
    ---------------------------
    */
    display: flex;
    flex-flow: column nowrap; /*A column of things*/
    align-items: center; /*centered on the page*/
    justify-content: flex-start; /*starting at the top*/


    box-shadow: 0 0 2px var(--shadow-color); /*A slight box-shadow to differentiate the header from the body*/

    & #hero {
        width: 100%;
        height: 60vh;

        position: relative; /*explicit, for the sake of the img's absolute position*/

        & a {
            /*no link styling here*/
            color: unset;
            text-decoration: none;
        }

        & img {
            /* HERO IMAGE */
            width: 100%; /*full width*/
            height: 100%; /*full height*/
            object-fit: cover; /*better "cropping" for different ratios*/
            position: absolute; /*take it out of the flow, so we can center the text more easily*/

            z-index: -1; /*and layer it behind the text*/

            /* Some custom style for the books hero image */
            @nest .books & {
                filter: blur(0.7px) grayscale(65%);
            }
        }

        & h1 {
            /* HERO TEXT */
            font-family: stoke, sans-serif; /*Fancy Font Family*/
            font-size: 9.313em; /*Giant size*/


            line-height: 60vh; /* center it vertically, same line-height as container height*/
            text-align: center; /* center ir horizontally */

            mix-blend-mode: color-burn;
            /*Cool effect with the font and the image:
                 All of the various mix-blend-modes have different effects,
                 after some experimenting this one seems to best for this site*/

            /*clear spacing things*/
            margin: 0;
            padding: 0;

            /*Customize the heading text for the dev section, which has
            a dark colored hero image*/

            @nest .dev & {
                color: white;
                mix-blend-mode: soft-light;
            }

            @nest .books & {
                mix-blend-mode: hard-light;
            }
        }
    }

    & nav {
        flex-grow: 1; /*take up any remaining space in the #site-header*/
        width: 100%; /*full width*/
        max-width: 1020px; /*but not too big*/

        line-height: 6vh; /*should be the remaining space.. to center the nav items vertically*/

        & a {
            /*no link styles in the nav*/
            text-decoration: none;
            color: unset;

            display: inline-block; /*take up the whole li area, not just the text*/
        }

        & ul {
            list-style-type: none; /*no bullets*/

            /*clear the spacings*/
            padding: 0;
            margin: 0;

            /*Nav Item Layout:*/
            display: flex;
            flex-flow: row wrap; /*A row of items*/
            justify-content: space-evenly; /*evenly spaced*/

        }
    }
}
    </code></pre>
</code-block>
