<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&family=Stoke&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>{% block title %}{{ title }}{% endblock %} | Jordan Shurmer</title>

    {% block headlast %}
        <link rel="stylesheet" href="\css\base.css" >

    {% endblock %}

</head>

<body class="{{ tags }}">

<section id="site-header">
    {% block header %}
        <!-- A div for the "hero" section.. the large visual at the top -->
        <div id="hero">
            <a href="/">
                {% block hero %}
                    <img src="{{ heroImage or "/static/heroes/default.jpg" }}" alt="Home"/>
                {% endblock %}
                <h1>JS</h1>
            </a>
        </div>

        <!-- A nav for the site navigation -->
        <nav>
            <ul>
                <li>
                    <a href="/theology/">Theology</a>
                </li>
                <li>
                    <a href="/dev/">Software</a>
                </li>
                <li>
                    <a href="/media/">Media</a>
                </li>
                <li>
                    <a href="/me/">About</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
</section>

{% if wip %}
<aside class="wip">
    <em>Note:</em> This page is a work in progress.
</aside>
{% endif %}

<main id="main">
    {% block main %}
        {{ content | safe }}
    {% endblock %}
</main>

<section id="footer">
    {% block footer %}
        <span>Built by <a target="_blank" href="https://aule.technology">Aulë Tech</a></span>
    {% endblock %}
</section>

{% block footlib %}
{% endblock %}

</body>

</html>