{% extends "./base.njk" %}

{% block footlib %}
    {{ super() }}
    <!-- Load the ace editor, and initialize any code blocks on the page -->
    <script src="/static/ace/ace.js"></script>
    <script src="/static/web-components/code-block.js"></script>
{% endblock %}
