{% extends "./base.njk" %}

{% block headlast %}
    {{ super() }}
    <link rel="stylesheet" href="/css/legero.css">
{% endblock headlast %}

{% block main %}
    <article itemscope itemtype="https://schema.org/Article">

        {% if headline %}
            <h1 itemprop="headline name">{{ headline }}</h1>
        {% else %}
            <h1 itemprop="headline name">{{ title }}</h1>
        {% endif %}

        <div id="metadata">
            {% if page.date %}
                Published
                <meta itemprop="datePublished" content="{{ page.date }}">{{ page.date | date }}
            {% endif %}

        </div>

        <p itemprop="description">
            {{ description }}
        </p>

{#    TODO: build a table of contents dynamically      #}
{#        {{ content | toc | safe }}#}

        <section itemprop="articleBody">
            {{ content | safe }}
        </section>
    </article>

{% endblock main %}

{% block footlib %}
    {{ super() }}

<!-- Load the crossway API (or provide your own, see below) -->
<script src="https://cdn.jsdelivr.net/npm/web-components-scripture@1/crossway.js"></script>
<script>
    //create the 'crosswayApi' object being referenced
    const crosswayApi = new Crossway('a0e122c0b20aee5601d9a6ea50e16194f5131eda');
</script>
<!-- Load the web components -->
<script src="https://cdn.jsdelivr.net/npm/web-components-scripture@1/scripture.js"></script>
{% endblock %}

