<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&family=Stoke&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>{% block title %}{{ title }}{% endblock %} | Jordan Shurmer</title>

    <style>
        @import url("/css/base.css");
        @import url("/css/typography.css");
        @media print {
            body {
                font-size: 15px;
            }
            a {
                text-decoration: none;
            }
        }
    </style>
</head>

<body class="{{ tags }}">

<main id="main">
    {% block main %}
        {{ content | safe }}
    {% endblock %}
</main>

</body>

</html>